[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django-annoying = "*"
psycopg2 = "*"
python-dateutil = "*"
sqlparse = "*"
maya = "*"
click = "*"
crayons = "*"
Django = "*"

[requires]
python_version = "3.5"
